@media (min-width: 1280px) {
  .container {
    padding: 1rem;
  }

  .container__menu-link {
    font-size: 1.2rem;
  }

  .container__img {
    width: 2.5rem;
  }

  .container__corpo {
    height: 34rem;
  }

  .corpo__titulo {
    font-size: 5rem;
    line-height: 6rem;
  }

  .corpo__subtitulo {
    font-size: 4rem;
    line-height: 4rem;
    margin-left: 9.1rem;
  }

  #btnAgendarConsulta {
    height: 4rem;
    margin-top: 3.5rem;
    font-size: 1rem;
  }

  .cards {
    gap: 1.5rem;
  }

  .titulo {
    /* Titulo das sections */
    font-size: 3rem;
  }

  .card__li {
    width: 22rem;
    height: 33rem;
    box-shadow: 0px 10px 15px 0px rgba(16, 51, 30, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    /* word-wrap: break-word;  */
  }

  .li__card--img {
    width: 22rem;
    border-radius: 1.875rem 2.875rem 0rem 0rem;
  }

  .li__card--descricao {
    max-width: 21.255rem;
    font-size: 0.75rem;
    padding: 0rem 1.88rem 0.65rem 1.88rem;
    text-align: justify;
    hyphens: auto;
  }

  .container__geral {
    height: 42rem;
  }

  .descricao {
    width: 38rem;
    height: 39rem;
  }

  .img-sobremim {
    width: 470px;
  }
  .descricao__titulo {
    font-size: 3rem;
  }

  .descricao__subtitulo {
    font-size: 1rem;
    line-height: 1.98rem;
  }

  .descricao__detalhada-paragrafo {
    font-size: 0.875rem;
    line-height: 1.7rem;
  }

  /* .btn{
    height: 3.5rem;
    font-size: 1rem;
  } */

  .testemunhos__lista-item {
    width: 33rem;
    max-height: 12rem;
  }

  .container__contatos {
    padding: 1rem;
  }

  .nome,
  .whatsapp,
  .email,
  .mensagem {
    width: 22rem;
    height: 3.25rem;
    font-size: 0.9rem;
    padding: 1.125rem;
    color: var(--branco);
  }

  .mensagem {
    height: 7rem;
  }

  .btn-form {
    width: 9.5rem;
    height: 3.25rem;
    font-size: 1.1rem;
  }

  footer {
    height: 4rem;
  }

  footer p {
    font-size: 0.8rem;
  }

  .icones a {
    width: 0.625rem;
  }
}
