@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .container__img {
    width: 2.5rem;
  }
  .container__menu-link {
    font-size: 1.2rem;
  }

  .container__corpo {
    height: 30rem;
  }

  .corpo__titulo {
    font-size: 4.5rem;
    line-height: 6rem;
    margin-left: 2rem;
  }

  .corpo__subtitulo {
    font-size: 2.9rem;
    line-height: 3rem;
    margin-left: 4rem;
  }

  .cards {
    align-items: center;
    gap: 1rem;
  }

  .card {
    flex-wrap: wrap;
    justify-content: center;
  }

  .titulo {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .card__li {
    width: 19.5rem;
    height: 30rem;
  }

  .li__card--titulo {
    width: 19rem;
    padding: 1rem 1rem 0.65rem 1rem;
  }

  .li__card--descricao {
    width: 19rem;
    padding: 0 1rem 1rem 0.88rem;
  }

  .container__geral {
    height: 82rem;
    align-items: center;
  }

  .container__info {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0;
  }

  .img-sobremim {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin: 1.5rem 0;
  }

  .descricao {
    width: 100%;
    padding: 0 2rem;
    margin: 0;
    align-items: center;
  }

  .descricao__titulo {
    font-size: 3rem;
  }

  .descricao__subtitulo {
    text-align: justify;
    margin: 1rem 0;
  }

  .descricao__detalhada-paragrafo {
    text-align: center;
  }

  .container__contatos {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }

  #formContato {
    align-items: center;
    gap: 1rem;
  }

  .nome,
  .whatsapp,
  .email,
  .mensagem {
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
    padding: 15px;
  }

  .mensagem {
    height: 6rem;
  }

  .btn-form {
    width: 8.5rem;
    height: 3rem;
    font-size: 1rem;
  }

  .info__contatos li {
    margin-bottom: 1.5rem;
  }
}
