@import url(style.css);

.container__contatos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;
}

#formContato {
  display: flex;
  flex-direction: column;
  gap: 0.88rem;
  justify-content: center;
}

#formContato div {
  display: flex;
  flex-direction: column;
}

.nome,
.whatsapp,
.email {
  box-sizing: border-box;
  width: 23.375rem;
  height: 3.5rem;
  border: none;
  border-radius: 1rem;
  background: var(--cor-principal);
  font-family: var(--font-primaria);
  padding: 1.25rem;
}

.nome::placeholder,
.whatsapp::placeholder,
.email::placeholder,
.mensagem::placeholder {
  color: var(--branco);
}

.mensagem {
  width: 23.375rem;
  height: 7.5rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--cor-principal);
  font-family: var(--font-primaria);
  padding: 1.25rem;
  box-sizing: border-box;
  color: var(--branco);
}

.btn-form {
  width: 10.5rem;
  height: 3.5rem;
  flex-shrink: 0;
  border-radius: 3.8125rem;
  border: 0.1875rem solid var(--cor-principal);
  background: var(--branco);
  font-family: var(--font-primaria);
  color: var(--cor-principal);
  font-size: 1.2rem;
}

.btn-form:hover {
  cursor: pointer;
  border: none;
  background: var(--cor-secundaria);
  color: var(--branco);
}

.nome,
.whatsapp,
.email,
.mensagem:focus {
  outline: 0;
  color: var(--branco);
}

.info__contatos {
  display: flex;
  flex-direction: column;
}

.info__contatos li {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 2.4rem;
}

.info__contatos i {
  font-size: 1.5rem;
  color: var(--cor-secundaria);
}

.contatos__texto {
  color: var(--cor-principal);
  font-family: var(--font-secundaria);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.span-requerido {
  font-size: 0.75rem;
  margin: 0.5rem 0 0 0.1875rem;
  color: #ff0000;
  display: none;
  font-family: var(--font-secundaria);
  font-style: italic;
  font-weight: 600;
}